<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.review.dao.InterfaceDao">

	<resultMap type="com.bitcamp.review.domain.Review"
		id="resultReview">
		<id property="idx" column="idx" />
		<result property="idx_c" column="idx_c" />
		<result property="idx_h" column="idx_h" />
		<result property="rate" column="rate" />
		<result property="content" column="content" />
		<result property="date" column="date" javaType="java.util.Date"/>
	</resultMap>


	<!-- 입력  -->
	<insert id="writeReview" parameterType="com.bitcamp.review.domain.Review">
		insert into review (idx_c, idx_h, rate, content) values (#{idx_c}, #{idx_h}, #{rate}, #{content})
	</insert>
	
	
	<!-- 삭제 -->
	<delete id="deleteReview">
		delete from review where idx=#{idx}
	</delete>
	

	<!--수정 폼 부르기 -->
	<select id="selectByIdx" resultMap="resultReview">
		select * from review where idx = #{idx}
	</select>
	
		
	<!-- 수정 -->
	<update id="editReview" parameterType="com.bitcamp.review.domain.Review">
	update review set idx_h = #{idx_h}, rate = #{rate}, content = #{content} where idx=#{idx}
	</update>
	
	
	<!-- 리스트 출력  -->	
	<select id="selectAllList" resultMap="resultReview">
		select * from review order by idx desc
	</select>
	
	
		
	<!-- 검색 해야함  -->
	<select id="searchReview" parameterType="Map" resultMap="resultReview">
		select * from review
		<where>
			<if test="search != null">
<!-- 				<if test="search.stype == 'idx_h'">
				<include refid="whereIdx_h" />
				</if>
				 -->
				<if test="search.stype == 'content'">
				<include refid="whereContent" />
				</if>
			</if>
		</where>
		limit #{index}, #{count}
	</select>
<!-- 	<sql id="whereIdx_h">
		or id LIKE CONCAT('%', #{search.keyword}, '%')
	</sql>
	<sql id="whereIdx_c">
		or id LIKE CONCAT('%', #{search.keyword}, '%')
	</sql> -->
	<sql id="whereContent">
	or content LIKE CONCAT('%', #{search.keyword}, '%')
	</sql>
	
</mapper>