<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 필수속성! - DAO 에서 식별하기 위함! -->
<mapper namespace="com.bitcamp.ad.dao.RoomSessionDao">

	<!-- 1. 신규 방 정보 등록 -->
	<insert id="insert" parameterType="com.bitcamp.ad.domain.Room">
		insert into room values(null, #{hotelnum}, #{hotelname}, #{roomname}, #{roomimg}, #{maxppl}, #{intro}, #{price}, #{convenience}, #{availability});
	</insert>
	
	<!-- 2. 호텔 별 방 리스트 출력   -->
	<select id="selectRoomListByHotel" parameterType="int" resultType="com.bitcamp.ad.domain.Room">
		select * from room where hotelnum = #{hotelnum} order by roomnum desc;
	</select>
	
	<!-- 3. 방 삭제 -->
	<delete id="deleteByRoomNum" parameterType="int">
		delete from room where roomnum=#{roomnum};
	</delete>
	
	<!-- 4. 호텔번호, 호텔이름 받아오기 위한 select 문 -->
	<select id="selectByRoomnum" parameterType="int" resultType="com.bitcamp.ad.domain.Room">
		select * from room where roomnum=#{roomnum};
	</select>
	
	<!-- 5. 호텔 정보 수정 -->
	<update id="editRoom" parameterType="com.bitcamp.ad.domain.Room">
		update room set roomname=#{roomname}, roomimg=#{roomimg}, maxppl=#{maxppl}, intro=#{intro}, price=#{price}, convenience=#{convenience}  where roomnum=#{roomnum};
	</update>	
</mapper>